

*{
    font-family: 'Poppins',
    sans-serif;
}

body{
    overflow-x: hidden;
}
.sh{
    box-shadow: 0px 12px 42px -4px rgba(24, 39, 75, 0.12),
    0px 8px 18px -6px rgba(24, 39, 75, 0.12);

}
.sqr{
    border-radius: 7px;
    height: 45px;
    margin-bottom: 20px;
    font-weight: 600;
    
    width: 170px;
    display: flex;
     box-shadow: 0px 2px 32px -4px rgba(24, 39, 75, 0.098),
     0px 8px 12px -6px rgba(24, 39, 75, 0.081);
    align-items: center;
    justify-content: center;
}
.put{
    border: 1px solid rgba(128, 128, 128, 0.744);
}
input{
    border: none;
    outline: none;
    background-color: transparent;
}
.header{
    border: 6px solid rgba(255, 255, 255, 0.266);
}
.foot{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    /* height:30px; */
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.shad{
    box-shadow: inset 3px 8px 10px rgba(0, 0, 0, 0.448),
     3px 8px 10px rgba(0, 0, 0, 0.304);
}
.main{
    background-image: url('./assets/bg-pentagon.svg');
    background-repeat: none;
    background-size: cover;
}
.game{
    background-image: radial-gradient(hsl(214, 47%, 23%) , hsl(237, 49%, 15%))
}